<div class="container mt-40px">
    <h2 class="secondary-header">Önde gelen başlıklar:</h2>
    <div class="ui grid stackable">
        <% var uniqArticleCounter = 0 %>
        <% for(var i = articles.length-1; i >= 0; i--){ %>
            <% if(articles[i]){ %>
                <div class="four wide column">
                    <div class="card article-card">
                        <div class="image-div">
                            <img class="ui medium bordered image" alt="kart resim" srcset="<%= articles[i].image %>">
                        </div>
                        <div class="content">
                            <div class="header" id="disease-name"><p><%= articles[i].title %></p></div>
                            <div class="description">
                                <p class="content-sub-header">
                                    <%= articles[i].description.split("", 160).join("") %>...
                                    <a href="/haberler/<%=articles[i]._id%>">daha fazla...</a>
                                </p>
                            </div>
                        </div>
                        <div class="extra content">
                            Paylaşılma Zamanı: <%= (articles[i].date.getDate()<10?'0':'') + articles[i].date.getDate() %>.<%= (articles[i].date.getMonth()<10?'0':'') + articles[i].date.getMonth() %>.<%= articles[i].date.getFullYear() %> - <%= articles[i].date.getHours() %>:<%= (articles[i].date.getMinutes()<10?'0':'') + articles[i].date.getMinutes() %>
                        </div>
                    </div>
                </div>
                <% uniqArticleCounter++ %>
                <% if(uniqArticleCounter===4){break;} %>
            <% } %>
        <% } %>
    </div>
</div>