    </head>
<body>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=514639998901991&autoLogAppEvents=1"></script>

<div class="container">
    <div class="ui secondary menu" style="display: none;">
        <a href="ui">Doktora Danışın</a>
        <a href="ui">Yakınınızcaki Eczaneler</a>
        <a href="ui">Uygun Fiyatlı İlaçlar</a>
    </div>
</div>
<div class="container">
    <div class="ui secondary menu stackable">
        <a href="/" class="active item">
            Logo
        </a>
        <div class="ui compact menu stackable">
            <div class="ui simple dropdown item">
                Hastalıklar<i class="dropdown icon"></i>
                <div class="menu">
                    <a class="ui item" href="/hastaliklar">En son eklenenler</a>
                    <a class="ui item" href="/hastaliklar/hepsi">Tüm Hastalıklar</a>
                    <% if(currentUser){ %>
                        <a class="ui item" href="/hastaliklar/yeni">
                            Yeni Hastalık   
                        </a>
                    <% } %>
                </div>
            </div>
            <div class="ui simple dropdown item">
                İlaçlar<i class="dropdown icon"></i>
                <div class="menu">
                    <a class="ui item" href="/ilaclar">En son eklenenler</a>
                    <a class="ui item" href="/ilaclar/hepsi">Tüm İlaçlar</a>
                    <% if(currentUser){ %>
                        <a class="ui item" href="/ilaclar/yeni">
                            Yeni İlaç
                        </a>
                    <% } %>
                </div>
            </div>
            <div class="ui simple dropdown item">
                Medikal Dünya<i class="dropdown icon"></i>
                <div class="menu">
                    <a class="ui item" href="/haberler">En son eklenenler</a>
                    <a class="ui item" href="/haberler/hepsi">Tüm Haberler</a>
                    <% if(currentUser){ %>
                        <a class="ui item" href="/haberler/yeni">
                            Yeni Haber
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="rightSideOfMenu" class="right menu">
            <form action="" method="GET">
                <select>
                    <option value="semptomlar">Semptom</option>
                    <option value="hastaliklar">Hastalık</option>
                    <option value="ilaclar">İlaç</option>
                </select>
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" class="search-input" placeholder="Ara..." required>
                        <button class="nav-submit"><i class="search link icon"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <% if(!currentUser){ %>
            <a class="ui item" href="/register">
                Kayıt Ol
            </a>
            <a class="ui item" href="/login">
                Giriş
            </a>
        <% } else { %>
            <div class="ui simple dropdown item">
                <%= currentUser.name %> <%= currentUser.surname %>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <% if(currentUser.isOp){ %>
                        <a class="ui item" href="/admin">
                            Admin CP
                        </a>
                    <% } %>
                    <a class="ui item" href="/profil">
                        Profil
                    </a>
                    <a class="ui item" href="/logout">
                        Çıkış
                    </a>
                </div>
            </div>
        <% } %>
    </div>
</div>

<hr class="shadow mb-40px">
<div class="social-media-buttons">
    <span>Bizi paylaş: </span>
    <div class="fb-share-button" data-href="https://obscure-lowlands-21426.herokuapp.com/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fobscure-lowlands-21426.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Türkçe Online Sağlık Veritabanı" data-via="a-zsaglik" data-hashtags="a-zsaglik" data-lang="tr" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="container">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-error" role="alert">
            <%= error %>
        </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>
    <% if(info && info.length > 0){ %>
        <div class="alert alert-info" role="alert">
            <%= info %>
        </div>
    <% } %>
</div>
