<% include ../partials/header %>
<% include ../partials/navbar %>




    <p><%= currentUser.email %></p>
    <p><%= currentUser.title %></p>
    <p><%= currentUser.name %></p>
    <p><%= currentUser.surname %></p>
    <p><%= currentUser.degreeNo %></p>
    <p><%= currentUser.profession %></p>
    


<% include ../partials/footer %>
