<% include ../partials/header %>
<% include ../partials/navbar %>


<div class="container thin-outline py-20px user-info">
    <h2>Kullanıcı bilgileri - <a href="/profil/degistir">Değiştir</a></h2>
    <p><strong>Email:</strong> <%= currentUser.email %></p>
    <p><strong><%= currentUser.title %></strong> <%= currentUser.name %> <%= currentUser.surname %></p>
    <p><strong>Diploma Numarası:</strong> <%= currentUser.degreeNo %></p>
    <p><strong>Alan:</strong> <%= currentUser.profession %></p>
</div>

    


<% include ../partials/footer %>
