<% include ../partials/header %>
<% include ../partials/navbar %>


<div class="bg-soft-blue py-20px">
    <div class="container">
        <div class="ui grid stackable">
            <div class="eleven wide column">
                <h1 class="primary-header">Lorem ipsum dolor sit amet consectetur.</h1>
            </div>
            <% if(typeof featuredArticle !== 'undefined' && featuredArticle){ %> 
                <div class="five wide column">
                    <h3 class="featured-header">Öne çıkan haber:</h3>
                    <div class="card featured-card">
                        <a href="/haberler/<%=featuredArticle._id%>">
                            <div class="image-div">
                                <img class="ui medium bordered image" alt="kart resim" srcset="<%= featuredArticle.image %>">
                            </div>
                        </a>
                        <div class="content">
                            <div class="header" id="disease-name"><p><%= featuredArticle.title %></p></div>
                            <div class="description">
                                <p class="content-sub-header">
                                    <%= featuredArticle.description.split("", 75).join("") %>...
                                    <a href="/haberler/<%=featuredArticle._id%>">daha fazla...</a>
                                </p>
                            </div>
                        </div>
                        <div class="extra content">
                            Paylaşılma Zamanı: <%= (featuredArticle.date.getDate()<10?'0':'') + featuredArticle.date.getDate() %>.<%= (featuredArticle.date.getMonth()<10?'0':'') + featuredArticle.date.getMonth() %>.<%= featuredArticle.date.getFullYear() %> - <%= featuredArticle.date.getHours() %>:<%= (featuredArticle.date.getMinutes()<10?'0':'') + featuredArticle.date.getMinutes() %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
<hr class="shadow">
<br>




<% include ../partials/featTopics %>

<% include ../partials/footer %>
