<% include ../partials/header %>
<% include ../partials/navbar %>


<div class="container">
    <h1 class="primary-header mb-20px pl-10px"><%= disease.name %>
        <% if(currentUser){ %>
            <a href="/hastaliklar/<%=disease._id%>/degistir">Değiştir</a>
        <% } %>
    </h1>
</div>

<br>

<div class="container thin-outline py-20px" id="page-content">
    <%= disease.htmlCode %>
</div>

<br>

<div class="container thin-outline py-20px f-size-120">
    <p>Semptom Tagleri:
        <% for(var i = 0; i < disease.symptoms.length; i++){ %>
            <a href="/semptomlar/ara/<%=disease.symptoms[i].name%>">#<%= disease.symptoms[i].name %></a>
        <% } %>
    </p>
        <button class="addSymptomBtn">Ekle</button>
        <form id="new-symptom" action="/hastaliklar/<%= disease._id %>/semptomlar?_method=PUT" method="POST">
            <label>Semptom İsmi: </label><input name="name" type="text" placeholder="" required>
            <br>
            <label class="position-relative">Semptomun olabilitesi (0-100) <span>? </span></label><input type="number" name="likelihood" placeholder="" required min="0" max="100" step="1">
            <br>
            <input class="submitSymptomBtn" type="submit" value="Gönder">
        </form>
     
</div>



<% include ../partials/featTopics %>

<script src="/js/show.js"></script>


<% include ../partials/footer %>
