<% include ../partials/header %>
<% include ../partials/navbar %>



<div class="container">
    <h1 class="primary-header">Tüm ilaçlar: </h1>
    <br>
    <div class="ui grid stackable">
        <% for(var i = drugs.length-1; i >=0 ; i--){ %>
            <% if(drugs[i] && drugs[i].isActivated){ %>
                <div class="four wide column">
                    <div class="card info-card">
                        <% if(drugs[i].image) { %>
                            <div class="image-div">
                                <img class="ui medium bordered image" alt="kart resim" srcset="<%= drugs[i].image %>">
                            </div>
                        <% } else {%>
                            <div class="image-div">
                                <img class="ui medium bordered image" alt="kart resim" srcset="/img/germ.jpg">
                            </div>
                        <% } %>
                        <div class="content">
                            <div class="header" id="disease-name"><p><%= drugs[i].name %></p></div>
                            <div class="description">
                                <p class="content-sub-header">
                                    <% if(drugs[i].description){ %>
                                        <%= drugs[i].description.split("", 160).join("") %>...
                                        <a href="/ilaclar/<%=drugs[i]._id%>">daha fazla...</a>
                                    <% } else {%>
                                        İlaçla ilgili bilgi daha girilmedi...
                                        <a href="/ilaclar/<%=drugs[i]._id%>">daha fazla...</a>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
</div>




<% include ../partials/footer %>
