<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="loading-screen"></div>

<div class="container">
    <h1 class="primary-header mb-20px pl-10px"><%= drug.name %>
        <% if(currentUser){ %>
            <a href="/ilaclar/<%=drug._id%>/degistir">Değiştir</a>
        <% } %>
    </h1>
</div>

<br>

<div class="container thin-outline py-20px mb-20px" id="page-content">
    <%= drug.htmlCode %>
</div>

<div id="symptom-drug-div" class="container thin-outline py-20px f-size-120">
    <p>Tedavisinde kullanılan hastalık tagleri:
        <% for(var i = 0; i < drug.diseases.length; i++){ %>
            <a href="/hastaliklar/ara/<%=drug.diseases[i].name%>">#<%= drug.diseases[i].name %> </a>
        <% } %>
    </p>
</div>

<% include ../partials/featTopics %>

<script src="/js/show.js"></script>


<% include ../partials/footer %>
